* {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
div.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #21baf7;
  overflow: hidden;
}

.whale {
  position: absolute;
  height: 150px;
  width: 250px;
  left: 47%;
  top: 0;
  z-index: 11;
}

.bubble {
  position: absolute;
}

.seaweed {
  position: absolute;
  height: 200px;
  width: 180px;
  /* background: green; */
}

.wave {
  top: 200px;
  position: absolute;
  height: 200px;
  background: #21baf7;
}

.wavelet {
  position: absolute;
  top: -25px;
  height: 40px;
  background: linear-gradient(#21e1f7, #21baf7);
  border-radius: 50% 50% 0 0;
  z-index: 1;
}

.circles {
  border-radius: 50%;
  top: -35px;
  height: 24px;
  width: 64px;
  position: absolute;
  z-index: 2;
  background: #21baf7;
}

.sand-transition {
  position: absolute;
  top: 300px;
  height: 200px;
  background: linear-gradient(#21baf7, lemonchiffon);
  z-index: 5;
}

.sand {
  position: absolute;
  top: 400px;
  height: 1000px;
  background: lemonchiffon;
  z-index: 5;
}

.controller {
  position: absolute;
  z-index: 10000;
}
